node_modules/
.pnpm-store/

.next/
.turbo/
dist/
build/
out/
*.tsbuildinfo

.VSCodeCounter/
coverage/
playwright-report/
**/playwright-report/
test-results/
**/test-results/

DEMODATEN/
infra/compose/.volumes/
